

.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}


/* header style */
.header{
  background-image: url('../images/developer.png'),url('../images/header_bg.png');
  background-repeat: no-repeat;
  background-position: top left, right bottom;
}

/* nav style */
nav{
  display: flex;
  align-items:center ;
  justify-content: space-between;
  margin: 0px 200px;
}

.nav-title{
  font-weight: 800;
  font-size: 45px;
}

nav ul li{
  list-style: none;
  margin-right: 50px;
}

nav ul{
  display: flex;
  align-items: center;
}
ul li a{
  text-decoration: none;
}

/* shared styles */
.secondary-bg{
  background-color: #FFF8F3;
}
.text-primary{
  color: #FD6E0A;
}
.dark-2{
  color: #474747;
}

.btn{
  background-color: #FD6E0A;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  padding: 18px 35px;
  font-size: 20px;
  border: none;
}
/* banner styles */
.banner{
  display: flex;
  justify-content: space-between;
  margin: 0 35px 0 200px;
}

.banner-content{
max-width: 580px;
}

.banner-greetings{
  font-weight: 600;
  font-size: 45px;
}

.banner-title{
  font-weight: bold;
  font-size: 45px;
}

.banner-description{
  font-size: 18px;
}
.banner-profile-pic{
width: 580px;
}

/* section style */

.section-title{
  font-weight: bold;
  font-size: 35px;
  color: #181818;
}

.section-description{
  font-size: 18px;
  color: #757575;
}

.text-center{
  text-align: center;
}
/* main style */
main{
  max-width: 1140px;
  margin: 0 auto;
}

main section{
  margin-top: 30px;
  margin-bottom: 30px;
}
/* about style */
.about{
  border-radius: 10px;
  padding: 130px 150px;
  text-align: center;
}

.about-items{
  display: flex;
  justify-content: space-around;
}

.item-description{
font-weight: 600;
font-size: 20px;
}

/* skills scetion style */

.skill-container{
display: flex;
justify-content: space-around;
gap: 24px;
}

/* .skill-description{
  padding: 30px;
} */

.skill{
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 6px 50px 0px rgba(red, green, blue, alpha) ;
}

/* resume section style */
.resume-container{
  display: flex;
  gap: 24px;
}

.experience-subtitle{
  font-size: 20px;
  font-weight: 600px;
  margin-bottom: 20px;
}

.experience-description, .experience-subtitle{
  color: #757575;
}

.resume hr{
  margin: 30px 5px;
}

.resume-download-cv{
  margin-top: 50px;
}

/* footer styles */
footer{
  padding: 130px 230px;
  display: flex;
  gap: 100px;
}

.footer-column{
  width: 50%;
}

footer input[type = "text"], footer input[type = "email"], footer textarea{
  height: 64px;
  border-radius: 5px;
  background-color: white;
  display: block;
  width: 100%;
  padding: 10px 20px;
  margin-bottom: 24px;
  border: none;
}